body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

h1 {
    margin-bottom: 50px;

}

table, th.id, td {
    border: 2px solid white;
    border-left: 50px;    
    margin: 10px 10px;
    text-align: left;
    border-spacing: 2px;
    border-style: hidden;
    
}

table {
    font-size: 30px;
}

th {
    border-bottom-width: 15px;
    
}

#groen {
    font-weight: 400;
    color: green;
}

#rood {
    font-weight: 400;
    color: firebrick;
}

td {
    font-size: 20px;
    font-weight: 100;
}



/* Voeg jouw css hieraan toe */